extends base

mixin list(name, img, alt, selected, count)
    if selected
        .container.selected
            img(src=`/uploads/${img}.png`, alt=`${alt}`)
            p=`${name}`
            span(id=`${img}--tasks`) #{count}
    else
        .container
            img(src=`/uploads/${img}.png`, alt=`${alt}`)
            p=`${name}`
            span(id=`${img}--tasks`) #{count}

block append head
    link(rel="stylesheet", href="/stylesheets/overview.css")
    title #{title}

block content
    .left--container
        .menu--container 
            h3 Menu 
            img(id='burger' src="/uploads/hamburger.png", alt="Hamburger Menu")
        .search--container
            img(id='magnifying--glass' src="/uploads/magnifying-glass.png", alt="Magnifying Glass")
            input(type='text' id='search' placeholder='Search') 
        .lists--container
            h5 Tasks
            each list in defaultLists
                +list(list.title, `${list.title.toLowerCase()}`, `${list.title} Tasks`, false, list.tasks.length)
        .lists--container
            h5 Lists
            each list in personalLists
                +list(list.title, 'square', 'square', false, list.tasks.length)
        .logout--container
            img(src="/uploads/logout.png", alt="Logout Button")
            p Sign out
    .right--container
        block list